@model MVCDemos.Models.AutoCompleteGames
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <br /><br />
        <div class="form-group">
            <div class="col-md-12">
                <label for="games"> Select Game: - </label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/AutoComplete/TextBox",
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Name,
                                    value: item.Name
                                };
                            }))
                        },
                        error: function () {
                            alert('something went wrong !');
                        }
                    })
                }
            });
        })
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
}